vendor/doctrine/deprecations/test_fixtures/vendor/doctrine/foo/Bar.php
vendor/doctrine/deprecations/test_fixtures/vendor/doctrine/foo/Baz.php
coverage/client.php.html
coverage/dashboard.html
coverage/hcUser.php.html
coverage/index.html
coverage/user.php.html
coverage/_css/bootstrap.min.css
coverage/_css/custom.css
coverage/_css/nv.d3.min.css
coverage/_css/octicons.css
coverage/_css/style.css
coverage/_icons/file-code.svg
coverage/_icons/file-directory.svg
coverage/_js/bootstrap.min.js
coverage/_js/d3.min.js
coverage/_js/file.js
coverage/_js/jquery.min.js
coverage/_js/nv.d3.min.js
coverage/_js/popper.min.js
.phpunit.cache/test-results
.phpunit.cache/code-coverage/8c3acc09b38ad1626b795b67ea8e15ad
.phpunit.cache/code-coverage/b34bea2598de269c5fded2418039307b
.phpunit.cache/code-coverage/babd8da4673d629ef181bfcebdd4fe18
