vendor/doctrine/deprecations/test_fixtures/vendor/doctrine/foo/Bar.php
vendor/doctrine/deprecations/test_fixtures/vendor/doctrine/foo/Baz.php
coverage/client.php.html
coverage/dashboard.html
coverage/hcUser.php.html
coverage/index.html
coverage/user.php.html
coverage/_css/bootstrap.min.css
coverage/_css/custom.css
coverage/_css/nv.d3.min.css
coverage/_css/octicons.css
coverage/_css/style.css
coverage/_icons/file-code.svg
coverage/_icons/file-directory.svg
coverage/_js/bootstrap.min.js
coverage/_js/d3.min.js
coverage/_js/file.js
coverage/_js/jquery.min.js
coverage/_js/nv.d3.min.js
coverage/_js/popper.min.js
.phpunit.cache/test-results
.phpunit.cache/code-coverage/8c3acc09b38ad1626b795b67ea8e15ad
.phpunit.cache/code-coverage/b34bea2598de269c5fded2418039307b
.phpunit.cache/code-coverage/babd8da4673d629ef181bfcebdd4fe18
.phpunit.cache/test-results
.phpunit.cache/test-results
.phpunit.cache/code-coverage/9e065d562b59ecd7bde519936ce0dbdd
.phpunit.cache/code-coverage/76a790e7e4ec39601338adbac8ccb6f6
.phpunit.cache/code-coverage/215fbe7a2c8844dd91de56cc9728a756
.phpunit.cache/code-coverage/973ec636170fed8a52058f40e5e57312
.phpunit.cache/code-coverage/2295f65026dadb32e99485496bbc264e
.phpunit.cache/code-coverage/91746dfa321c8f3301f171ec0d583925
.phpunit.cache/code-coverage/9706104ac786ec838099c201340e29a7
.phpunit.cache/code-coverage/a72920f35434688b80757c67a8c22996
.phpunit.cache/code-coverage/d77d46b1f1fc101a502f76a2b963fcfc
.phpunit.cache/code-coverage/fc26481bc7dbd798e5cbe34575313531
coverage/connection.php.html
coverage/dbh.php.html
coverage/fuelPricing.php.html
coverage/fuelType.php.html
coverage/loginManager.php.html
coverage/registrationManager.php.html
coverage/state.php.html
coverage/trucks.php.html
.phpunit.cache/test-results
.phpunit.cache/code-coverage/1df0643c51b42658b1c9464359a901a2
.phpunit.cache/code-coverage/02e27b80fa149940dc2abe7ce5321ccf
.phpunit.cache/code-coverage/5f300cc7a3d2e1899567410aec4d5c6f
.phpunit.cache/code-coverage/3018d7a422d2fd185ca247078bed5ac3
.phpunit.cache/code-coverage/82982a35a3e554a0701d723a8337d47a
.phpunit.cache/code-coverage/3248809566bfae9fcf7f7e384f38aa6e
.phpunit.cache/code-coverage/a4781a398e2900b0ae1c590d8efd4ebb
.phpunit.cache/code-coverage/b6dce6ea0673efa18dee1c6edd9854e9
.phpunit.cache/code-coverage/c504bb74a9f907654a98973399cceebf
.phpunit.cache/code-coverage/c785b6ace23eb3886f9824328e3a2a9a
.phpunit.cache/code-coverage/dd6aca13ac5203415993111101313215
.phpunit.cache/test-results
.env