vendor/doctrine/deprecations/test_fixtures/vendor/doctrine/foo/Bar.php
vendor/doctrine/deprecations/test_fixtures/vendor/doctrine/foo/Baz.php
vendor/doctrine/deprecations/
vendor/doctrine/instantiator/
vendor/myclabs/deep-copy/
vendor/nikic/php-parser/
vendor/phar-io/manifest/
vendor/phar-io/version/
vendor/phpdocumentor/reflection-common/
vendor/phpdocumentor/reflection-docblock/
vendor/phpdocumentor/type-resolver/
vendor/phpspec/prophecy/
vendor/phpstan/phpdoc-parser/
vendor/phpunit/php-code-coverage/
vendor/phpunit/php-file-iterator/
vendor/phpunit/php-invoker/
vendor/phpunit/php-text-template/
vendor/phpunit/php-timer/
vendor/phpunit/phpunit/
vendor/sebastian/cli-parser/
vendor/sebastian/code-unit-reverse-lookup/
vendor/sebastian/code-unit/
vendor/sebastian/comparator/
vendor/sebastian/complexity/
vendor/sebastian/diff/
vendor/sebastian/environment/
vendor/sebastian/exporter/
vendor/sebastian/global-state/
vendor/sebastian/lines-of-code/
vendor/sebastian/object-enumerator/
vendor/sebastian/object-reflector/
vendor/sebastian/recursion-context/
vendor/sebastian/resource-operations/
vendor/sebastian/type/
vendor/sebastian/version/
vendor/theseer/tokenizer/
vendor/webmozart/assert/
coverage/client.php.html
coverage/dashboard.html
coverage/hcUser.php.html
coverage/index.html
coverage/user.php.html
coverage/_css/bootstrap.min.css
coverage/_css/custom.css
coverage/_css/nv.d3.min.css
coverage/_css/octicons.css
coverage/_css/style.css
coverage/_icons/file-code.svg
coverage/_icons/file-directory.svg
coverage/_js/bootstrap.min.js
coverage/_js/d3.min.js
coverage/_js/file.js
coverage/_js/jquery.min.js
coverage/_js/nv.d3.min.js
coverage/_js/popper.min.js
.phpunit.cache/test-results
.phpunit.cache/code-coverage/8c3acc09b38ad1626b795b67ea8e15ad
.phpunit.cache/code-coverage/b34bea2598de269c5fded2418039307b
.phpunit.cache/code-coverage/babd8da4673d629ef181bfcebdd4fe18
.phpunit.cache/test-results
.phpunit.cache/test-results
.phpunit.cache/code-coverage/9e065d562b59ecd7bde519936ce0dbdd
.phpunit.cache/code-coverage/76a790e7e4ec39601338adbac8ccb6f6
.phpunit.cache/code-coverage/215fbe7a2c8844dd91de56cc9728a756
.phpunit.cache/code-coverage/973ec636170fed8a52058f40e5e57312
.phpunit.cache/code-coverage/2295f65026dadb32e99485496bbc264e
.phpunit.cache/code-coverage/91746dfa321c8f3301f171ec0d583925
.phpunit.cache/code-coverage/9706104ac786ec838099c201340e29a7
.phpunit.cache/code-coverage/a72920f35434688b80757c67a8c22996
.phpunit.cache/code-coverage/d77d46b1f1fc101a502f76a2b963fcfc
.phpunit.cache/code-coverage/fc26481bc7dbd798e5cbe34575313531
coverage/connection.php.html
coverage/dbh.php.html
coverage/fuelPricing.php.html
coverage/fuelType.php.html
coverage/loginManager.php.html
coverage/registrationManager.php.html
coverage/state.php.html
coverage/trucks.php.html
.phpunit.cache/test-results
.phpunit.cache/code-coverage/1df0643c51b42658b1c9464359a901a2
.phpunit.cache/code-coverage/02e27b80fa149940dc2abe7ce5321ccf
.phpunit.cache/code-coverage/5f300cc7a3d2e1899567410aec4d5c6f
.phpunit.cache/code-coverage/3018d7a422d2fd185ca247078bed5ac3
.phpunit.cache/code-coverage/82982a35a3e554a0701d723a8337d47a
.phpunit.cache/code-coverage/3248809566bfae9fcf7f7e384f38aa6e
.phpunit.cache/code-coverage/a4781a398e2900b0ae1c590d8efd4ebb
.phpunit.cache/code-coverage/b6dce6ea0673efa18dee1c6edd9854e9
.phpunit.cache/code-coverage/c504bb74a9f907654a98973399cceebf
.phpunit.cache/code-coverage/c785b6ace23eb3886f9824328e3a2a9a
.phpunit.cache/code-coverage/dd6aca13ac5203415993111101313215
.phpunit.cache/test-results
.env
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/LICENSE
vendor/composer/platform_check.php
vendor/autoload.php
vendor/bin/php-parse
vendor/bin/php-parse.bat
vendor/bin/phpunit
vendor/bin/phpunit.bat
.phpunit.cache/code-coverage/05cd441e29d55af292b9ae60f4178087
.phpunit.cache/code-coverage/afddf7b3e7124aa09cfc56960080605b
.phpunit.cache/code-coverage/f33ccdcbb4562c856dc7a836efeaae95
.phpunit.cache/code-coverage/fc7f4089920733f07533ed58ec9b2f47
vendor/graham-campbell/result-type/
vendor/phpoption/phpoption/
vendor/symfony/polyfill-ctype/
vendor/symfony/polyfill-mbstring/
vendor/symfony/polyfill-php80/
vendor/vlucas/phpdotenv/
coverage/dbhCodeCoverageExperiment.php.html
coverage/editUserProfiletoTest.php.html
.phpunit.cache/code-coverage/024734fc3f2c1efce2e1338b83ac9523
.phpunit.cache/code-coverage/c7bd70920164374cb551df705a3bf4a3
.phpunit.cache/code-coverage/d520aab23c7c3c08630217d4cdda3387
Archive/Backups/dbhCodeCoverageExperiment.php
.phpunit.cache/code-coverage/65329cb2215ed5b25ef13f2b06f3160c
.phpunit.cache/code-coverage/976379cda0aaa7c548994eca771c6913
.phpunit.cache/code-coverage/c1fa6a079acb7aba632b53e88e56464c
.phpunit.cache/code-coverage/dfebd0e9329c26e0be54910093edadf6
.phpunit.cache/code-coverage/e08e7088ff9f13b78940465852e23c00
.phpunit.cache/code-coverage/ff10027ddec65786cf691754edb14287
