/* Display the Form as a table*/
.formTable {
    display: table;
    border-spacing: 3px;
}

.formTable .formRow {
    display: table-row;
}

.formTable .formCell {
    display: table-cell;
}

.paymentType .formCell {
    padding-right: 10px;
}

.paymentType .formCell label {
    padding-right: 3px;
}

/* Center h1 and h2 */
section {
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* Set all text, select, and date inputs to same size */
text, select {
    width: 100%;
}

input[type=date] {
  width: 100%;
}

input[type=number] {
  width: 100%;
}
/* testing */
html {
  height: 100%;
}

/* Styles for the background image and centered content */
body {
  /*background-image: url('../img/bg.png');*/
  background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)),
    url("../img/bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130vh;
}

.priceEstimate {
  justify-content: left;
  align-items: left;
}
/* Styles for the white form box */
form {
  margin: 100px;
  background-color: white;
  min-width: 25%;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
/* Styles for the green submit button */
.submitButton {
  background-color: green;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

/*#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  vertical-align: bottom;
}*/

/*#footerWrapper {
  width: 100vw;
  justify-content: center;
}*/

.formCellText {
  display: inline;
}